<!-- Author: Tor Valamo. -->
<!-- CC-BY-NC-4.0 -->

<!doctype html>
<html ng-app="resApp">
    <head>
        <title>Valgresultat 2019</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="refresh" content="600">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/i18n/angular-locale_no-no.js"></script>
        <script src="cookie.js"></script>
        <script src="resultat.js"></script>
        <link href="style.css" rel="stylesheet">
        <style>
            td.is-right {
                text-align: right;
            }
            td.is-center {
                text-align: center;
            }
            td.is-left {
                text-align: left;
            }
            tr.has-mandates td {
                font-weight: bold;
                /*background-color: rgba(74, 16, 74, 1);
                background-color: #4a164a;*/
                color: #4a164a;
                /*color: white !important;*/
                text-transform: uppercase;
            }
			tr.is-filter td {
                /*background-color: rgba(74, 16, 74, 1);*/
				background-color: #4a164a;
				color: white !important;
			}
            tr.is-selected td {
                font-weight: bold;
                font-size: 120%;
                color: yellow !important;
            }
            .is-bold, .is-bold * {
                font-weight: bold;
            }
            progress {
                margin-top: 3px;
            }
            progress.is-context {
                margin-top: 6px;
                margin-bottom: 6px;
            }
            div.is-highlighted * {
                color: yellow; 
            }
            div.is-pinned {
                border: 2px solid yellow;
            }
            div.is-pinned:hover {
                cursor: zoom-out;
            }
            div.is-pinnable {
                border: 2px solid #4a164a;
            }
            div.is-pinnable {
                cursor: zoom-in;
            }
            div.is-clickable:hover {
                cursor: pointer;
            }
            thead td {
                cursor: ns-resize;
            }
			
			ol {
				margin-left: 20px;
			}
        </style>
    </head>
    <body ng-controller="ResultatCtr">
        <section class="hero">
            <div class="hero-body">
                <div class="container is-fluid">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Forhåndstemmer</p>
                                <p class="title">{{ fy.our.earlyVotes | number }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Alle stemmer</p>
                                <p class="title is-1 is-bold">{{ fy.our.votes | number }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Oppslutning</p>
                                <p class="title is-1 is-bold">{{ fy.our.percentage | number : 2 }} %</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <img src="logo.png" alt="" style="height: 100px;">
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Forhåndstemmer</p>
                                <p class="title">{{ ko.our.earlyVotes | number }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Alle stemmer</p>
                                <p class="title is-1 is-bold">{{ ko.our.votes | number }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Oppslutning</p>
                                <p class="title is-1 is-bold">{{ ko.our.percentage | number : 2 }} %</p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
		<div class="container is-fluid">
			<div class="columns">
				<div class="column is-half">
					<!-- fylker -->
					<h1 class="title has-text-centered">Fylkestingsvalg</h1>
					<table class="table">
						<thead>
							<tr>
								<td ng-click="setFyOrderTerm('code', true)" 
									ng-class="{'is-bold': fyOrderBy == 'code'}"># 
									<span class="icon" 
										  ng-show="fyOrderBy == 'code'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span>
								</td>
								<td ng-click="setFyOrderTerm('name', true)" 
									ng-class="{'is-bold': fyOrderBy == 'name'}">Fylke 
									<span class="icon" 
										  ng-show="fyOrderBy == 'name'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span>
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': fyOrderBy == 'our.votes'}" 
									ng-click="setFyOrderTerm('our.votes', true)">
									<span class="icon" 
										  ng-show="fyOrderBy == 'our.votes'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span> Stemmer
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': fyOrderBy == 'our.percentage'}" 
									ng-click="setFyOrderTerm('our.percentage', true)">
									<span class="icon" 
										  ng-show="fyOrderBy == 'our.percentage'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span> Oppslutning
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': fyOrderBy == 'our.mandates'}" 
									ng-click="setFyOrderTerm('our.mandates', true)">
									<span class="icon" 
										  ng-show="fyOrderBy == 'our.mandates'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span> Mandater
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': fyOrderBy == 'our.nextMandate'}" 
									ng-click="setFyOrderTerm('our.nextMandate', true)">
									<span class="icon" 
										  ng-show="fyOrderBy == 'our.nextMandate'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span> Mandatrang
								</td>
								<td class="is-right"
									ng-class="{'is-bold': fyOrderBy == 'all.percentage'}" 
									ng-click="setFyOrderTerm('all.percentage', true)">
									<span class="icon" 
										  ng-show="fyOrderBy == 'all.percentage'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !fyOrderReverse, 'fa-sort-desc': fyOrderReverse}"></i>
									</span> Opptalt 
								</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="county in fy.counties | orderBy : fyOrderBy : fyOrderReverse" 
								ng-class="{'is-filter': activeCounty == county.code, 'has-mandates': county.our.mandates }"
								ng-click="setActiveCounty(county.code)">
								<td>{{ county.code }}</td>
								<td>{{ county.name }}</td>
								<td class="is-right">{{ county.our.votes | number}}</td>
								<td class="is-right">{{ county.our.percentage | number : 2 }} %</td>
								<td class="is-right">{{ county.our.mandates }} / {{ county.all.mandates }}</td>
								<td class="is-right">{{ county.our.nextMandate }}</td>
								<td class="is-right">{{ county.all.percentage | number : 1 }} %</td>
							</tr>
						</tbody>
					</table>
					
					<div>
						<h2 class="subtitle">Tips og triks</h2>
						<ol>
							<li>Trykk på et fylke til venstre for å filtrere kommunelisten til høyre. Trykk på nytt for å fjerne filtreringen.</li>
							<li>Alt til venstre er fylkesvalg, alt til høyre er kommunevalg. Dataene har ingen sammenheng med hverandre.</li>
							<li><em>Mandatrang</em> viser hvor nærme neste mandat er. Tallet viser det faktiske rangerte mandattallet for <em>vårt</em> neste mandat med gjeldende stemmegivning.</li>
							<li>Appen oppdaterer seg selv. Det er ikke vits å spamme refresh. Får du rød feilmelding under, meld fra i tråden i internforumet.</li>
						</ol>
					</div>
					
					<div class="has-text-right" ng-switch on="fetch.status">
						<span class="tag is-danger" ng-switch-when="-1">KATASTROFE (litt): {{ error }}</span>
						<span class="tag is-warning" ng-switch-when="0">Sjekker om det er nye data ...</span>
						<span class="tag is-success" ng-switch-default>Siste oppdatering {{ fetch.time | date : 'd. MMMM y kl. HH:mm' }}</span>
					</div>
				</div>
				<div class="column is-half">
					<!-- kommuner -->
					<h1 class="title has-text-centered">Kommunevalg</h1>
					<table class="table">
						<thead>
							<tr>
								<td ng-click="setKoOrderTerm('code', true)" 
									ng-class="{'is-bold': koOrderBy == 'code'}"># 
									<span class="icon" 
										  ng-show="koOrderBy == 'code'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span>
								</td>
								<td ng-click="setKoOrderTerm('name', true)" 
									ng-class="{'is-bold': koOrderBy == 'name'}">Kommune 
									<span class="icon" 
										  ng-show="koOrderBy == 'name'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span>
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': koOrderBy == 'our.votes'}" 
									ng-click="setKoOrderTerm('our.votes', true)">
									<span class="icon" 
										  ng-show="koOrderBy == 'our.votes'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span> Stemmer
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': koOrderBy == 'our.percentage'}" 
									ng-click="setKoOrderTerm('our.percentage', true)">
									<span class="icon" 
										  ng-show="koOrderBy == 'our.percentage'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span> Oppslutning
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': koOrderBy == 'our.mandates'}" 
									ng-click="setKoOrderTerm('our.mandates', true)">
									<span class="icon" 
										  ng-show="koOrderBy == 'our.mandates'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span> Mandater
								</td>
								<td class="is-right" 
									ng-class="{'is-bold': koOrderBy == 'our.nextMandate'}" 
									ng-click="setKoOrderTerm('our.nextMandate', true)">
									<span class="icon" 
										  ng-show="koOrderBy == 'our.nextMandate'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span> Mandatrang
								</td>
								<td class="is-right"
									ng-class="{'is-bold': koOrderBy == 'all.percentage'}" 
									ng-click="setKoOrderTerm('all.percentage', true)">
									<span class="icon" 
										  ng-show="koOrderBy == 'all.percentage'">
										<i class="fa" 
										   ng-class="{'fa-sort-asc': !koOrderReverse, 'fa-sort-desc': koOrderReverse}"></i>
									</span> Opptalt 
								</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="muni in municipals | orderBy : koOrderBy : koOrderReverse" 
								ng-class="{'has-mandates': muni.our.mandates}"
								ng-hide="(activeCounty != null && activeCounty != muni.county) || !muni.our">
								<td>{{ muni.code }}</td>
								<td>{{ muni.name }}</td>
								<td class="is-right">{{ muni.our.votes | number}}</td>
								<td class="is-right">{{ muni.our.percentage | number : 2 }} %</td>
								<td class="is-right">{{ muni.our.mandates }} / {{ muni.all.mandates }}</td>
								<td class="is-right">{{ muni.our.nextMandate }}</td>
								<td class="is-right">{{ muni.all.percentage | number : 1 }} %</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </body>
</html>